.header-container{
    display: flex;
    padding-top: 12px;
    justify-content: space-between;
    position: sticky;
    top: 0px;
    z-index: 1;
}
.header-logo {
    background-color: #5A5A5A;
    border-color: #C7C7C7;
    border-style: dashed;
    border-width: 1px;
    display: flex;
    align-items: center;
    font-family: 'BebasNeue-Regular';
    padding: 3px 80px;
    font-size: 18px;
}
.header-account {
    font-family: BebasNeue-Regular;
    color: #E75626;
    font-size: 18px;
    margin-right: 7px;
}
