.modal-container {
    z-index: 2;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}
.modal-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #262628;
    width: 380px;
    padding-bottom: 35px;
}
.modal-header {
    font-family: BebasNeue-Regular;
    font-size: 30px;
    margin-top: 35px;
}
.modal-description {
    font-family: AvenirNextCyr-Regular;
    font-size: 15px;
    margin-top: 25px;
    margin-bottom: 47px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
